@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,400;0,700;1,500&family=Noto+Sans+KR:wght@300;400;700;900&family=Quicksand&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Quicksand', sans-serif; 
*/
.bold {
  font-weight: bold;
}
header {
  padding: 0;
  width: 100%;

  margin: 0 auto;
  background-color: #151515;
}
.gnb-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
}
.logo-wrap {
  width: 33%;
}
.logo-wrap .logo {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: start;
}

.dep1 {
  text-align: center;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dep1 li {
  padding: 0 20px;
  box-sizing: border-box;
}
.dep1 li a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
  color: #fff;
}
.dep1 li a::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.dep1 li:hover a::after {
  width: 100%;
}
.github-wrap {
  width: 33%;
  text-align: end;
}
.github-wrap svg {
  width: 100%;
  max-width: 50px;
  transition: all 0.2s ease-in;
}
.github-wrap svg:hover {
  transform: translateY(-15px);
}

/* main */
.main {
  width: 100%;
  background-color: #151515;
}
.home-main-section01 {
  width: 100%;
  padding: 180px 0;
}

.home-text-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Alfa Slab One', cursive;
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.text01,
.text03 {
  text-align: start;
}
.text02 {
  text-align: end;
}

.home-main-section02 {
  width: 100%;
  margin-top: 80px;
  background-color: #fff;
  padding: 50px 0;
  overflow-x: hidden;
}
.skil-list-wrap {
  width: 100%;
  max-width: 1920px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.sec-title {
  width: 100%;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  color: #000;
  text-transform: uppercase;
}
.pagination_fraction {
  width: fit-content;
  font-size: 1.25rem;
}
.skil-list-wrap .project-wrap {
  width: 100%;
  display: flex;
  margin-top: 20px;
  color: #fff;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin: 25px 0 0px;
  /* overflow: hidden; */
}

.skil-list-wrap .project-wrap .swiper-slide.project-slide {
  width: 25%;
  max-width: 400px;
  min-height: 250px;
  aspect-ratio: 4/3;
  font-size: 2rem;
  border-radius: 20px;
  border: 1px solid #151515;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}
.project-slide .project-name {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.45rem;
}
.skil-list-wrap .project-wrap .swiper-slide.project-slide > .open-text {
  display: flex;
  align-items: center;
}
.skil-list-wrap
  .project-wrap
  .swiper-slide.project-slide:hover
  > .open-text
  > .lnr-arrow-right {
  transform: translateX(50%);
}
.skil-list-wrap
  .project-wrap
  .swiper-slide.project-slide
  > .open-text
  > .lnr-arrow-right {
  margin-top: 6px;
  margin-left: 10px;
  transition: all 0.3s ease-in;
}
.project-small-name {
  font-size: 1rem;
  font-weight: 300;
}
/* section03 */

.home-main-section03 {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
}
.skil-box-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  margin: 25px 0 50px;
}
.skil-box-wrap .skil-box {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.skil-box-wrap .skil-box .skil-img {
  display: block;
  text-align: center;
  width: 100%;
}
.skil-box-wrap .skil-box .skil-img img {
  width: 100px;
}

.skil-bg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.skil-bg .skil-name {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.skil-bg:hover {
  opacity: 1;
}

/*********************
    footer
***********************/
.footer {
  width: 100%;
  background-color: #151515;
}
.footer__inner {
  width: 100%;
  display: flex;
  padding: 60px 40px;
  box-sizing: border-box;
}

.clause__wrap {
  margin-right: 100px;
}
.clause {
  margin-bottom: 30px;
}
.clause a {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #666666;
  margin-right: 15px;
}
.clause a.term__link {
  font-weight: 400;
}
.clause a.term__link::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 1rem;
  background-color: #ddd;
  margin-right: 15px;
}
.address__wrap {
  font-family: Pretendard;
  font-size: 1rem;
  letter-spacing: 0px;
}
.address__wrap ul {
  display: flex;
  color: #959595;
  gap: 30px;
}
.address__wrap ul li {
  position: relative;
}
.address__wrap ul li::after {
  content: '';
  display: block;
  width: 1px;
  height: 19px;
  background-color: #eee;
  position: absolute;
  right: -15px;
  top: 0;
}
.address__wrap ul li:last-child::after {
  display: none;
}
.copyright {
  color: #b3b3b3;
  margin-top: 10px;
}
