@media (max-width: 1600px) {
  .about__content-wrap,
  .about__title {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .profile__content {
    padding: 50px 15px;
    box-sizing: border-box;
  }
}
@media (max-width: 1280px) {
  .skil-list-wrap .project-wrap .swiper-slide.project-slide {
    width: auto;
  }
  .about__title > span {
    font-size: 5.5rem;
  }
}
@media (max-width: 1024px) {
  .logo-wrap .logo {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .project__wrap {
    position: relative;
    margin: 100px auto 0;
  }
  .left-box {
    position: absolute;
    top: -100px;
    width: fit-content;
    right: 30px;
  }
  .right-box {
    width: 100%;
  }
  .left-box > .project__box {
    padding: 0;
  }
  .go-git__btn {
    max-width: unset;
    width: 200px;
  }
  .go-git__btn.sticky {
    width: 200px;
    right: 30px;
  }
}
@media (max-width: 850px) {
  .about__content {
    width: 100%;
  }
  .about__content.reserved {
    margin-left: 0;
  }
  .project-section01 .section-tilte {
    font-size: 5.5rem;
  }
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
  .mo-header {
    display: block;
  }
  .mo-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
  }
  .mo-nav {
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in;
  }
  .logo {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: start;
  }
  .btn-all {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .btn-all .bar_top,
  .btn-all .bar_mid,
  .btn-all .bar_bot {
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #fff;
    transform-origin: top right;
    transition: all 0.3s ease-in-out;
  }
  .btn-all .bar_top {
    top: 0;
    width: 34px;
  }
  .btn-all .bar_mid {
    top: 10px;
    width: 28px;
  }
  .btn-all .bar_bot {
    top: 20px;
    width: 34px;
  }
  .mo-header {
    width: 100%;
    height: auto;
  }
  .mo-header .bBg {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
  }
  .mo-header .m-navbox {
    position: fixed;
    right: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #000;
    z-index: 999;
    transition: all 0.5s;
  }
  .mo-header .m-navbox.on {
    right: 0;
  }
  .mo-header .m-navbox .mo-top {
    position: relative;
    height: 90px;
  }
  .mo-header .m-navbox .mo-top .btn-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 30px;
    height: 30px;
  }
  .mo-header .m-navbox .mo-top .btn-close a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .mo-header .m-navbox .mo-top .btn-close .lnr-cross {
    font-size: 35px;
    color: #fff;
  }
  .mo-header .m-navbox .m-nav > li {
    position: relative;
  }
  .mo-header .m-navbox .m-nav > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-indent: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
  }
  .mo-github__wrap {
    width: fit-content;
    padding: 30px;
    box-sizing: border-box;
    margin-left: auto;
  }
  .home-text-wrap {
    font-size: 6.5rem;
  }
  .sec-title {
    font-size: 3.25rem;
  }
  .home-main-section02,
  .home-main-section03 {
    padding: 30px 0px;
  }
  .skil-box-wrap {
    gap: 20px;
  }
  .skil-box-wrap .skil-box,
  .skil-bg {
    width: 150px;
    height: 150px;
  }
  .skil-box-wrap .skil-box .skil-img img {
    width: 80px;
  }
  #skill-java {
    width: 50px;
  }
  .skil-img svg {
    width: 100px;
    height: 30px;
  }
  .about__section,
  .project-section01 {
    margin-top: 90px;
  }
  .project {
    padding: 50px 15px;
    box-sizing: border-box;
  }
  .about__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .about__title > span {
    width: 100%;
    font-size: 5.5rem;
  }
  .title__deco {
    width: 100%;
  }
  .about__title {
    margin-bottom: 50px;
  }
  .about__content-wrap {
    margin-top: 50px;
  }
  .left-box {
    top: -80px;
    right: 10px;
  }

  .right-box__inner {
    flex-direction: column-reverse;
  }
  .project__box {
    width: 100%;
    border-left: none;
    padding: 20px 10px;
  }
  .project__box-title__name {
    font-size: 1.75rem;
  }
  .project__box-title > a > img {
    width: 1.75rem;
  }
  .profile__section {
    padding-bottom: 50px;
  }
  .profile__wrap {
    flex-direction: column;
  }
  .profile__row,
  .profile__wrap2 .profile__row,
  .profile__wrap3 .profile__row {
    width: 100%;
    margin: 0;
  }
  .profile__tilte,
  .pro2-title,
  .pro__subtitle,
  .pro__subtext .sub__title {
    text-align: center;
  }
  .pro2__content {
    margin-top: 30px;
  }
  .profile__content {
    padding-bottom: 30px;
  }
  .home-main-section01 {
    padding: 120px 0 60px;
  }
  .project-slide .project-name {
    font-size: 1.5rem;
  }
}
@media (max-width: 550px) {
  .home-text-wrap {
    font-size: 4.25rem;
  }
  .pagination_fraction {
    white-space: nowrap;
    font-size: 1rem;
  }
  .skil-list-wrap .project-wrap .swiper-slide.project-slide {
    min-height: unset;
    height: 200px;
  }
  .skil-box-wrap {
    gap: 10px;
  }
  .skil-box-wrap .skil-box,
  .skil-bg {
    width: 100px;
    height: 100px;
  }
  .skil-box-wrap .skil-box .skil-img img {
    width: 50px;
  }
  #skill-java {
    width: 30px;
  }
  .skil-img svg {
    width: 80px;
    height: 30px;
  }
  .go-git__btn {
    width: 150px;
  }
  .go-git__btn.sticky {
    top: 125px;
    width: 150px;
  }
  .address__wrap ul {
    flex-direction: column;
    gap: 10px;
  }
  .address__wrap ul li::after {
    display: none;
  }
  .home-main-section01 {
    padding: 120px 0 0px;
  }
}
@media (max-width: 425px) {
  .about__title {
    gap: 10px;
  }
  .about__title > span,
  .project-section01 .section-tilte {
    font-size: 3.25rem;
  }
}
