.project {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 80px 0 150px;
}
.project-section {
  width: 100%;
}

.project-section01 .section-tilte {
  width: 100%;
  color: #151515;
  font-size: 10rem;
  line-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.project__wrap {
  width: 100%;
  max-width: 1550px;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid rgba(21, 21, 21, 0.15);
}
.right-box {
  width: 75%;
}
.right-box__inner {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(21, 21, 21, 0.15);
}
.right-box__inner:last-child {
  border-bottom: none;
}
.right-box__inner img {
  height: 100%;
}
.project__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
  border-left: 1px solid rgba(21, 21, 21, 0.15);
}
.left-box {
  width: 25%;
}
.left-box > .project__box {
  width: 100%;
  border-left: none;
}

.go-git__btn {
  display: block;
  width: 100%;
  max-width: 325px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50vw;
  background-color: #4f5bff;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}
.go-git__btn > span {
  display: inline-block;
  width: 10px;
  margin-left: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease-in-out;
}
.go-git__btn:hover > span {
  transform: translate(50px, -50px);
}
.go-git__btn.sticky {
  position: fixed;
  width: 20%;
  top: 25px;
}
.project__box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.project__box-title__name {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.project__box-title > a > img {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}
.project__box-title > a:hover > img {
  transform: translate(50px, -50px);
}
#amom-tea-img {
  width: 100%;
  background-image: url('/images/amomtea.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
}
.project__box-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  color: #151515;
  font-weight: 300;
}
.lang-name {
  font-size: 1.125rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

/******************************** 
            about
 *******************************/

.about {
  width: 100%;
}
.about__section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 0 80px;
}
.about__inner {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
.about__title {
  width: 100%;
  color: #151515;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__title > span {
  display: block;
  width: calc(61% - 10px);
  font-size: 10rem;
  line-height: 100%;
  font-weight: 900;
}
.title__deco {
  width: calc(39% - 10px);
  font-size: 1.25rem;
  text-align: right;
}
.title__deco::after {
  content: '';
  width: 0%;
  height: 5px;
  background-color: #151515;
  display: block;
  transition: all 0.7s ease;
}
.title__deco .deco__text {
  display: block;
  font-weight: bold;
}
.title__deco.active::after {
  width: 100%;
}
.about__content-wrap {
  width: 100%;
  max-width: 1550px;
  margin: 80px auto;
}
.about__content {
  width: 50%;
}
.about-content__title {
  font-size: 4.25rem;
  font-weight: 600;
  font-family: 'Pretendard-Regular';
  line-height: 2;
}
.about-content__text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.about__left > ul > li,
.about__right > ul > li {
  display: flex;
  gap: 10px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: 'Pretendard-Regular';
  color: #000;
}
.about__left > ul > li > p,
.about__right > ul > li > p {
  line-height: 1.2;
}
.about__left > ul > li > p:first-child,
.about__right > ul > li > p:first-child {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}
.about__content.reserved {
  margin-left: auto;
}
.about__left > ul > li.flex__col,
.about__right > ul > li.flex__col {
  flex-direction: column;
  line-height: 1;
  margin-bottom: 20px;
}
.send__email {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.email__wrap {
  width: 100%;
  margin: 50px 0;
}
.email__title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.24rem;
  font-weight: 400;
}
.email__rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.email__rows input,
.email__rows textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'Pretendard-Regular';
  font-size: 1.125rem;
  color: #000;
}
.email__rows input {
  height: 50px;
}
.email__row1,
.email__row2 {
  display: flex;
  gap: 10px;
}
.email__row1 p {
  width: 50%;
  margin-top: 20px;
  font-family: 'Alfa Slab One', cursive;
}
.email__row2 {
}
.email__rows textarea {
  min-height: 500px;
  aspect-ratio: 6/2;
  resize: none;
}
.email__rows input:focus,
.email__rows textarea:focus {
  outline: none;
  border: 2px solid #333;
}
.submit__btn {
  width: 20%;
  margin-left: auto;
  border: none;
  padding: 20px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 3px;
}
/************************
  profile
************************/
.profile__content {
  width: 100%;
  padding: 50px 0;
  border-top: 2px solid #000;
}
.profile__tilte,
.pro2-title {
  font-size: 2.45rem;
  font-family: 'Pretendard-Regular';
  font-weight: bold;
}
.profile__wrap {
  display: flex;
  flex-wrap: wrap;
}
.profile__row {
  width: 20%;
  font-family: 'Pretendard-Regular';
  margin: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.full__row {
  width: 100%;
}
.half__row {
  width: 50%;
}
.profile__th {
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 20px 0;
  background-color: #ddd;
}
.profile__td {
  padding: 10px 15px 20px;
  box-sizing: border-box;
}
.txt-left {
  text-align: left;
}
.profile__td ul li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  line-height: 1.2;
}
.profile__td ul li::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #151515;
  flex-shrink: 0;
  margin-top: 7px;
}
.profile__wrap2 .profile__row {
  width: 16.666%;
}
.profile__wrap3 .profile__row {
  width: 25%;
}
.profile__wrap2 {
  width: 100%;
}
.pro-wrap2__inner {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
.pro2__content {
  margin: 50px 0;
}
.pro__subtitle {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.pro__subtext {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  line-height: 1.5;
  word-break: keep-all;
  font-family: 'Noto Sans KR', sans-serif;
}
.pro__subtext .sub__title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
}
